

.modal{
   display:block;
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    color: white;
    opacity:1;
    margin-top:20%;
    top: 0;
    width:60%;
    left:30%;
}


 .true{
   display: block;
    
    
}
.content{
    position: fixed;
    top: 0;
    padding:10px;
    
    animation-name: slideIn;
    animation-duration: 0.4s;
}

 .green{
    color:white !important;
    background-color: rgb(76, 165, 76);
    
}
.red{
    color:white !important;
    background-color: red;
    
}
.blue{
    color:white !important;
    background-color: rgb(0, 0, 255);
}

@keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
  }
  

